.column {
    justify-self: center;
    width: 60%;
    margin-top: 40px;
}  

body {
    font-family: "Tahoma", sans-serif;
    margin: 10;
  }

.header h1 {
    font-size: 40px;
  }

.header h2 {
    font-size: 20px;
  }

